@import '../abstracts/variables.scss';

.forms-container {
  display: flex;
  justify-content: space-evenly;
}

.form-cards {
  background-color: $light-purple-color;
  padding: 30px 30px 30px 30px;
  border-radius: 15px;
  margin-top: 15px;
  filter: $soft-shadow;
}

.form-fields {
  display: flex;
  border-radius: 10px;
  background-color: $dark-purple-color;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
  filter: $soft-shadow;
  margin-top: 15px;
}

.search-form  {
  margin-top: 15px;
  background-color: rgba(11, 41, 63, 0.479);
}