/*Colors*/
$light-purple-color: #9D3A6C;
$dark-purple-color: #1E021E;
$white: #fff;
$yellow: #ffe785;
$dark-yellow: #e0bf3b;
$green: #04cf15;
$dark-green: #00990d;
$red: #ce0000;
$dark-red: #8f0000;

/*shadows*/
$soft-shadow: drop-shadow(5px 4px 8px #00000069);